// Width variables for media queries
$mo: 350px;     //micro
$xs: 450px;     //extra-small
$sm: 600px;     //small
$md: 960px;     //medium
$lg: 1300px;    //large
$xl: 1920px;    //extra-large

// Min width goes form "width" which is defined that way ------->
// If you are resizing the right corner
$mo-up: "(min-width: #{$mo})";
$xs-up: "(min-width: #{$xs})";
$sm-up: "(min-width: #{$sm})";
$md-up: "(min-width: #{$md})";
$lg-up: "(min-width: #{$lg})";
$xl-up: "(min-width: #{$xl})";

// Max width goes form "width" which is defined this way <-------
// If you are resizing the right corner
$mo-down: "(max-width: #{$mo - 1})";
$xs-down: "(max-width: #{$xs - 1})";
$sm-down: "(max-width: #{$sm - 1})";
$md-down: "(max-width: #{$md - 1})";
$lg-down: "(max-width: #{$lg - 1})";
$xl-down: "(max-width: #{$xl - 1})";

// Ranges ------->   <-------
$mo-to-xs: "#{$xs-down} and #{$mo-up}";
$mo-to-sm: "#{$sm-down} and #{$mo-up}";
$mo-to-md: "#{$md-down} and #{$mo-up}";
$mo-to-lg: "#{$lg-down} and #{$mo-up}";
$mo-to-xl: "#{$xl-down} and #{$mo-up}";

$xs-to-sm: "#{$sm-down} and #{$xs-up}";
$xs-to-md: "#{$md-down} and #{$xs-up}";
$xs-to-lg: "#{$lg-down} and #{$xs-up}";
$xs-to-xl: "#{$xl-down} and #{$xs-up}";

$sm-to-md: "#{$md-down} and #{$sm-up}";
$sm-to-lg: "#{$lg-down} and #{$sm-up}";
$sm-to-xl: "#{$xl-down} and #{$sm-up}";

$md-to-lg: "#{$lg-down} and #{$md-up}";
$md-to-xl: "#{$xl-down} and #{$md-up}";

$lg-to-xl: "#{$xl-down} and #{$lg-up}";

// use
// in your main.scss
// `import "breakpoints";`
// then in your main.scss
//`@media #{$xs-up} { ... }`
